<html>
	<body>
		<h1> TODO.COM </h1>
		<p>{{ tache.nom }} </p> </br>
		<p>{{ tache.libeller }} </p> </br>
		<p>{{ tache.date|date('d/m/Y H:i:s') }}</p></br>
		<a href="{{ path('td_todo_homepage') }}">Retour</a>
		
		<p> copyright </p>
	</body>
</html>